header
	.container
		.headline
			.mail contact@aleksey-bronnikov.com
			.s-info tander41
		nav
			ul.navbar
				li
					a(href="#") Home
				li
					a(href="#") About
				li
					a(href="#") Portfolio
				li
					a(href="#") Features
				li
					a(href="#") Blog
				li
					a(href="#") Shop
				li
					a(href="#") Contact
	.slider

main


footer
